@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Mono', monospace;
  background-color: #050505;
  color: #ffffff;
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #FF6F00;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
}
